# Node.js
node_modules/
package-lock.json
yarn.lock

# Logs
logs/
*.log
*.log.*
log/

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/

# Debugging
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/
*.lcov

# Temporary files
tmp/
temp/
*.swp
*.swo
*.bak

# Database
*.sqlite
*.db
*.sql
*.sqlite3

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
Thumbs.db
.DS_Store

# Docker
.dockerignore
docker-compose.override.yml

# Test results
test-results/

# Miscellaneous
!.env.example
